<h2 class="text-2xl font-semibold text-center">Mehmonlar ro‘yxati</h2>
<ul class="list-disc list-inside mt-4">
    {{#each guests}}
        <li class="text-lg">{{this.name}} - {{this.contact_info}}</li>
    {{/each}}
</ul>

